.jq-template.awk
11/alpine3.17/docker-entrypoint.sh
11/alpine3.17/Dockerfile
11/alpine3.18/docker-entrypoint.sh
11/alpine3.18/Dockerfile
11/bookworm/docker-entrypoint.sh
11/bookworm/Dockerfile
11/bullseye/docker-entrypoint.sh
11/bullseye/Dockerfile
12/alpine3.17/docker-entrypoint.sh
12/alpine3.17/Dockerfile
12/alpine3.18/docker-entrypoint.sh
12/alpine3.18/Dockerfile
12/bookworm/docker-entrypoint.sh
12/bookworm/Dockerfile
12/bullseye/docker-entrypoint.sh
12/bullseye/Dockerfile
13/alpine3.17/docker-entrypoint.sh
13/alpine3.17/Dockerfile
13/alpine3.18/docker-entrypoint.sh
13/alpine3.18/Dockerfile
13/bookworm/docker-entrypoint.sh
13/bookworm/Dockerfile
13/bullseye/docker-entrypoint.sh
13/bullseye/Dockerfile
14/alpine3.17/docker-entrypoint.sh
14/alpine3.17/Dockerfile
14/alpine3.18/docker-entrypoint.sh
14/alpine3.18/Dockerfile
14/bookworm/docker-entrypoint.sh
14/bookworm/Dockerfile
14/bullseye/docker-entrypoint.sh
14/bullseye/Dockerfile
